<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Example</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="vue.js"></script>
</head>
<body id="body">
	<div class="container">
		<template v-if="name != '' && gender != ''">
		<welcome-message :name="name" :gender="gender"></welcome-message>
		<p>Espero que disfrute tu visita</p>
	</template>
	<p v-if="name == '' && gender == ''">Por favor indica tu <span v-if="!name">nombre y </span><span v-if="!gender">genero</span></p>
	
	
	<!-- <h1 v-if="name">Bienvenido, {{name}}</h1> -->
	<!--<h1 v-show="name">Bienvenido, {{name}}</h1> -->
	<input type="text" v-model="name" class="form-control">
	<select class="form-control" v-model="gender" id="">
		<option value="m">Masculino</option>
		<option value="f">Femenido</option>
	</select>
	<template v-for="tech in techs">
		<years_exp  :years.sync="tech.years" :tech="tech.name"></years_exp>
	</template>
	<div class="row">
		<div class="col-md-4">
			<h3>Sabe estas Tecnologias:</h3>
			<ul v-for="tech in techs | orderBy 'years' -1 | years">
				<span v-if="tech.type == 'backend'">
					<li>{{tech.name}} - {{tech.type}}</li>
				</span>
				<span v-if="tech.type == 'frontend'">
					<li>{{tech.name}} - {{tech.type}}</li>
				</span>

			</ul>
		</div>
		<div class="col-md-4">
			<h3>No sabes de estas Tecnologias:</h3>
			<langs :techs.sync="techs" exp="no"></langs>
		</div>
		<div class="col-md-4">
			<h3>Eres experto en estas tecnologias:</h3>
			<langs :techs.sync="techs" exp="exp"></langs>
		</div>
	</div>
	<p v-show="name">
		<button type="submit" class="btn btn-primary">
			Registrate
		</button>
		<button class="btn btn-primary" @click="signUp(true, $event)">
			Regístrate y sal del sistema
		</button>
	</p>
	</div>
	<script type="text/template" id="welcome-message"><h1 v-if="gender">{{gender == "m" ? "Bienvenido" : "Bienvenida"}}, {{name | ucwords}}</h1></script>
	<script type="text/template" id="years_template">
		<p>
			¿Cuantos años de experiencia tienes con {{ tech }}?
			Respuesta <strong>{{ years }}</strong>
			<button type="button" :class="{btn: true, 'btn-danger': years > 10}"  @click="add">+</button>
			<button type="button" v-bind:disabled="years == 0" class="btn" @click="sub"> - </button>
		</p>
	</script>
	<script type="text/template" id="lang">
		<ul v-for="tech in techs | orderBy 'years' -1">
			<div v-if="exp == 'no'">
				<span v-if="tech.years == 0">
					<li>{{tech.name}} - {{tech.type}}</li>
				</span>
			</div>
			<div v-if="exp == 'exp'">
				<span v-if="tech.years > 5">
					<li>{{tech.name}} - {{tech.type}}</li>
				</span>
			</div>
			
		</ul>
	</script>
	<script type="text/javascript">
	Vue.filter('years', function(techs){
		return techs.filter(function(tech){
			return tech.years > 0;
		});
	})
	Vue.filter('ucwords', function(value){
		return value.split(' ').map(function(word){
			return word.charAt(0).toUpperCase() + word.slice(1);
		}).join(' ');
	})
	Vue.component('welcome-message',{
		template: '#welcome-message',
		props: {
			gender:{type:String,required:false,default:'m'},
			name: { type:String, required:true }
		}
	});
	Vue.component('langs',{
		template: '#lang',
		props: ['techs','exp']
	})
	Vue.component('years_exp', {
		template: '#years_template',
		methods: {
			add: function(){
					this.years++;
				},
				sub: function(){
					//if (years_php > 0) {
						this.years--;
					//}
				}
		},
		props:  {
			years: {required:true},
			tech: {type:String,required:true}
		}
	})
		new Vue({
			el: "#body",
			data: {
				name: "",
				gender: "",
				spanish: true,
				techs: [
					{name:'PHP',years: 0,type: 'backend'},
					{name:'JS',years: 0,type: 'frontend'},
					{name:'HTML',years: 0,type: 'frontend'},
					{name:'CSS',years: 0,type: 'frontend'},
					{name:'MySQL',years: 0,type: 'frontend'},
				]
			},
			methods: {
				signUp: function(logout, event) {
					event.preventDefault();
					alert(this.name + ", Por favor espera mientras te registramos");
					if (logout) {
						alert("Saliendo del sistema");
					}
				}
			}
		});

	</script>
</body>
</html>