<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Example</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="vue.js"></script>
</head>
<body id="body">
	<div class="container">
		<template v-if="name != '' && gender != ''">
		<h1 v-if="gender">{{gender == 'm' ? 'Bienvenido' : 'Bienvenida'}}, {{name}}</h1>
		<p>Espero que disfrute tu visita</p>
	</template>
	<p v-if="name == '' && gender == ''">Por favor indica tu <span v-if="!name">nombre y </span><span v-if="!gender">genero</span></p>
	
	
	<!-- <h1 v-if="name">Bienvenido, {{name}}</h1> -->
	<!--<h1 v-show="name">Bienvenido, {{name}}</h1> -->
	<input type="text" v-model="name" class="form-control">
	<select class="form-control" v-model="gender" id="">
		<option value="m">Masculino</option>
		<option value="f">Femenido</option>
	</select>
	<p>
		¿Cuantos años de experiencia tienes con php?
		Respuesta <strong>{{ years_php }}</strong>
		<button type="button" :class="{btn: true, 'btn-danger': years_php > 10}" :style="getAddYearButtonStyles()" @click="addYear">+</button>
		<button type="button" v-bind:disabled="years_php == 0" class="btn" @click="subYear"> - </button>
	</p>

	<p v-show="name">
		<button type="submit" class="btn btn-primary">
			Registrate
		</button>
		<button class="btn btn-primary" @click="signUp(true, $event)">
			Regístrate y sal del sistema
		</button>
	</p>
	</div>

	<script type="text/javascript">

		new Vue({
			el: "#body",
			data: {
				name: "",
				gender: "",
				years_php: 0
			},
			methods: {
				signUp: function(logout, event) {
					event.preventDefault();
					alert(this.name + ", Por favor espera mientras te registramos");
					if (logout) {
						alert("Saliendo del sistema");
					}
				},
				addYear: function(){
					this.years_php++;
				},
				subYear: function(){
					//if (years_php > 0) {
						this.years_php--;
					//}
				},
				getAddYearButtonStyles: function() {
					return  {'font-size': 10+this.years_php+'px'}
				}
			}
		});

	</script>
</body>
</html>